USE [ExamManagementSystem]
GO
/****** Object:  Table [dbo].[ExamDtls]    Script Date: 24-07-2026 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamDtls](
	[DtlsID] [int] IDENTITY(1,1) NOT NULL,
	[MasterID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[Marks] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DtlsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamMaster]    Script Date: 24-07-2026 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamMaster](
	[MasterID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ExamYear] [int] NOT NULL,
	[TotalMark] [int] NOT NULL,
	[PassOrFail] [varchar](10) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMst]    Script Date: 24-07-2026 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMst](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](250) NOT NULL,
	[Mail] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectMst]    Script Date: 24-07-2026 22:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectMst](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExamDtls] ON 

INSERT [dbo].[ExamDtls] ([DtlsID], [MasterID], [SubjectID], [Marks]) VALUES (1, 1, 2, 67)
INSERT [dbo].[ExamDtls] ([DtlsID], [MasterID], [SubjectID], [Marks]) VALUES (2, 1, 1, 89)
INSERT [dbo].[ExamDtls] ([DtlsID], [MasterID], [SubjectID], [Marks]) VALUES (6, 3, 3, 87)
SET IDENTITY_INSERT [dbo].[ExamDtls] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamMaster] ON 

INSERT [dbo].[ExamMaster] ([MasterID], [StudentID], [ExamYear], [TotalMark], [PassOrFail], [CreateTime]) VALUES (1, 1, 2025, 156, N'PASS', CAST(N'2026-07-24T21:53:19.003' AS DateTime))
INSERT [dbo].[ExamMaster] ([MasterID], [StudentID], [ExamYear], [TotalMark], [PassOrFail], [CreateTime]) VALUES (3, 2, 2000, 176, N'FAIL', CAST(N'2026-07-24T21:54:40.793' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExamMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentMst] ON 

INSERT [dbo].[StudentMst] ([StudentID], [StudentName], [Mail]) VALUES (1, N'Babisha Mol', N'babisha@gmail.com')
INSERT [dbo].[StudentMst] ([StudentID], [StudentName], [Mail]) VALUES (2, N'Anu', N'arun@gmail.com')
INSERT [dbo].[StudentMst] ([StudentID], [StudentName], [Mail]) VALUES (3, N'Priya', N'priya@gmail.com')
SET IDENTITY_INSERT [dbo].[StudentMst] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectMst] ON 

INSERT [dbo].[SubjectMst] ([SubjectID], [SubjectName]) VALUES (1, N'English')
INSERT [dbo].[SubjectMst] ([SubjectID], [SubjectName]) VALUES (2, N'Mathematics')
INSERT [dbo].[SubjectMst] ([SubjectID], [SubjectName]) VALUES (3, N'Science')
SET IDENTITY_INSERT [dbo].[SubjectMst] OFF
GO
/****** Object:  Index [UQ_Student_ExamYear]    Script Date: 24-07-2026 22:15:45 ******/
ALTER TABLE [dbo].[ExamMaster] ADD  CONSTRAINT [UQ_Student_ExamYear] UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ExamYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StudentM__2724B2D1171D5AD6]    Script Date: 24-07-2026 22:15:45 ******/
ALTER TABLE [dbo].[StudentMst] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamMaster] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[ExamDtls]  WITH CHECK ADD  CONSTRAINT [FK_ExamDtls_ExamMaster] FOREIGN KEY([MasterID])
REFERENCES [dbo].[ExamMaster] ([MasterID])
GO
ALTER TABLE [dbo].[ExamDtls] CHECK CONSTRAINT [FK_ExamDtls_ExamMaster]
GO
ALTER TABLE [dbo].[ExamDtls]  WITH CHECK ADD  CONSTRAINT [FK_ExamDtls_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SubjectMst] ([SubjectID])
GO
ALTER TABLE [dbo].[ExamDtls] CHECK CONSTRAINT [FK_ExamDtls_Subject]
GO
ALTER TABLE [dbo].[ExamMaster]  WITH CHECK ADD  CONSTRAINT [FK_ExamMaster_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[StudentMst] ([StudentID])
GO
ALTER TABLE [dbo].[ExamMaster] CHECK CONSTRAINT [FK_ExamMaster_Student]
GO
